<div ng-controller="ProblemCtrl as ctrl">
	<div ng-controller="MainCtrl as ctrl" ng-cloak>
			<md-content>
				<md-toolbar class="md-hue-2" style="position: fixed">
					<div class="md-toolbar-tools">
						<h1>
							Salesforce Trailcoder
						</h1>
						<span flex></span>
						<h2>
							{{ctrl.user}}&nbsp;
							
						</h2>
						<span class="badge badge-info">{{ctrl.points}}</span>
					</div>
				</md-toolbar>
			</md-content>
		</div>
	<main flex layout=row style="height:85%; margin-top: 40px; margin-bottom: 20px;">
		<div ui-view flex=50 layout-fill layout-padding style="overflow-y: scroll; overflow-x: hidden;height:85%;margin-top: 25px;margin-bottom:1px">
			<div style="background-color:yellow; border-radius:5px;text-align: center" ng-if="ctrl.loading">
			      Processing...
			</div>
			<div style="background-color:green; border-radius:5px;text-align: center" ng-if="ctrl.status == 'Correct'">
				<h1>{{ctrl.status}}</h1>
			</div>
			<div style="background-color:red;border-radius:5px;white-space: pre-line" ng-if="ctrl.status && ctrl.status != 'Correct'">
					{{ctrl.status}}
			</div>
			<div layout="row">
				<h1>{{ctrl.problem.title}} </h1>
				<span flex></span>
				<div  ng-if="ctrl.completed=='Done'" style="margin-top:9px">
					<img src= "./app/login/images/icons/completed.png" width=32 height=32></img>
				</div>
			</div>
			<div ng-bind-html="ctrl.problem.html | trust"></div>
		</div>
		<div flex=50 layout-fill style="min-height:100%; margin-top: 25px; margin-bottom: 20px" layout-padding>
			<textarea style="width: 100%;height:100%;resize: none" ng-model="ctrl.solution">{{ctrl.solution}}</textarea>
		</div>
	</main>
	<footer style="position: fixed;bottom: 0;width: 100%; background-color: white">
		<md-divider style="position: absolute;width: 100%;"></md-divider>
		<div layout=row class="md-scroll-shrink">
			<div flex=100>
				<md-button class="md-raised md-primary" ng-click="ctrl.back()">Back</md-button>
			</div>
			<div flex=8>
				<md-button class="md-raised md-primary" ng-click="ctrl.submit()">Submit Code </md-button>
			</div>
		</div>
	</footer>
</div>